<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800;900&family=Alegreya:ital,wght@1,800&display=swap"
    rel="stylesheet">
  <!-- <link rel="stylesheet" href="css/show.css"> -->
  <style>
    .nav-section {
      background-color: #061629;
      padding: 20px 40px;
    }

    .bars i {
      font-size: 25px;
    }

    .bars i:hover {
      color: rgb(13, 212, 179);
    }

    .site-logo {
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 7px;
    }

    .site-logo:hover {
      color: #ffffff;
      text-decoration: none;
      background-color: transparent;
    }

    .nav-right {
      font-size: 16px;
      font-weight: 500;
      align-items: center;
    }

    .nav-right a:hover {
      color: rgb(13, 212, 179);
    }

    .nav-right ul {
      list-style: none;
    }

    .nav-right li {
      margin-right: 20px;
    }

    a {
      text-decoration: none;
      color: #ffffff;
    }

    a:hover {
      text-decoration: none;
      color: #ffffff;
    }

    button {
      color: #ffffff;
    }

    button:focus {
      outline: none;
    }

    .profile button {
      outline: none;
      border: none;
      background-color: #061629;
      color: #ffffff;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      padding: 8px 5px;
    }

    .profile .btn:hover {
      color: rgb(13, 212, 179);
    }

    .dropdown-menu {
      background-color: #061629;
      text-align: center;
    }

    .add {
      text-align: center;
      width: 120px;
      background-color: rgb(13, 212, 179);
      border-radius: 25px;
    }

    .add a:hover {
      color: #ffffff;
      background-color: rgb(48, 184, 161);
      border-radius: 25px;
    }

    body {
      background-color: rgb(203, 231, 225);
    }

    .addbook {
      margin-top: 100px;
      text-align: center;
    }

    .book-info {
      margin-top: 100px;
    }

    .row {
      margin-bottom: 25px;
    }

    .book-info img {
      max-width: 100%;
      max-height: 100%;
    }

    .book-name {
      font-size: 3.5vw;
      font-family: 'Alegreya', serif;
      text-transform: capitalize;
    }

    .author {
      font-size: 1.5vw;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      letter-spacing: 2px;
    }

    .desc {
      padding-top: 10px;
      font-size: 1.3vw;
      font-family: 'Barlow Semi Condensed', sans-serif;
      text-align: justify;
    }

    .comment-tab {
      padding: 25px 0;
      background-color: rgb(241, 233, 233);
      border-radius: 10px;
    }

    .comment-tab img {
      max-width: 100%;
      max-height: 100%;
    }

    .user {
      text-transform: uppercase;
      font-weight: 700;
      color: rgb(128, 34, 34);
      letter-spacing: 2px;
    }

    .comment {
      text-align: justify;
    }

    .btn-success {
      text-align: center;
      width: 150px;
      border: none;
      font-weight: 600;
      background-color: rgb(14, 197, 167);
      border-radius: 25px;
    }
    .btn-secondary{
      width: 90px;
      border-radius: 25px;
    }
    .btn-success:hover {
      background-color: rgb(46, 165, 145);
    }

    .btn-success:focus {
      background-color: rgb(46, 165, 145);
    }
    .modal-title{
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
    }
    .modal-body{
      margin: 10px auto;
    }
    .modal-body input{
      width: 450px;
      outline: none;
      padding: 7px 10px;
      border: none;
      border-bottom: 1px solid rgb(206, 203, 203);
    }
    .modal-footer{
      border-top: none;
    }
  </style>
</head>

<body>
  <nav class="nav-section navbar navbar-expand-lg fixed-top">
    <a class="site-logo navbar-brand" href="/books">ONMYBOOKSHELF</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="bars"><i class="fa fa-bars"></i></span>
    </button>

    <div class="nav-right collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item add">
          <a class="nav-link" href="/books/new">Add book</a>
        </li>
        <% if(!currentUser) { %>
        <li class="nav-item"><a class="nav-link" href="/login">LOGIN <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"><span> | </span></li>
        <li class="nav-item"><a class="nav-link" href="/register">SIGNUP <span class="sr-only">(current)</span></a></li>
        <% } else { %>
        <li class="nav-item">
          <div class="btn-group profile">
            <button type="button">
              <i class="fa fa-user"></i> Profile</button>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="nav-link" class="dropdown-item" href="#"><%= currentUser.username %> <span
                  class="sr-only">(current)</span></a>
              <div class="dropdown-divider"></div>
              <a class="nav-link" class="dropdown-item" href="/logout">Logout <i class="fa fa-sign-out"></i><span
                  class="sr-only">(current)</span></a>
            </div>
          </div>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="book-info">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="<%= book.image %>">
        </div>
        <div class="col-sm-6 col-md-8 col-lg-8">
          <div class="book-name">
            <%= book.name %>
          </div>
          <div class="author">
            Author - <%= book.author %>
          </div>
          <div class="desc">
            <%= book.description %>
          </div>
        </div>
      </div>
      <p>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">
          Add Comment
        </button>

      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Add Comment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/books/<%= book._id %>/comments" method="POST">
              <div class="modal-body">
                <input type="text" name="comment[text]" placeholder="Add a public comment">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button class="btn btn-success">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </p>
      <% book.comments.forEach(function(comment) { %>
      <div class="row comment-tab">
        <div class="col-sm-1 col-md-1 col-lg-1">
          <!-- enter image here -->
        </div>
        <div class="col-sm-11 col-md-11 col-lg-11">
          <div class="user"><%= comment.user.username %></div>
          <div class="comment"><%= comment.text %></div>
          <div class="time"><%= moment(comment.createdAt).fromNow() %></div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>





  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>